body {
  @apply font-railWayFont overflow-hidden;
}

.products-main-container {
  min-height: calc(100vh + 125rem);
  @apply w-full min-h-[screen] flex flex-col relative;
}

.products-items {
  @apply relative w-full h-full flex flex-col items-center justify-center gap-10;
}

/* .mouse-icon {
  @apply absolute hidden md:block left-[50%] md:top-[10rem] xl:top-[45rem];
} */

.item-card {
  @apply relative w-[20rem] h-[28rem] block shadow-lg shadow-gray-600 object-cover overflow-hidden cursor-pointer;
}
.item-card-image {
  @apply w-full h-full absolute top-0 left-0 rounded-lg object-cover;
}
.item-card-hover {
  @apply w-full h-full absolute top-0 left-0 opacity-0 transition-all duration-500;
}
.item-card-hover:hover {
  @apply opacity-100 z-50;
}

.card-item-content {
  position: absolute;
  top: 0;
  padding: 60px;
  height: 0;
  width: 100%;
  z-index: 50;
  background-color: #595a3b49;
  opacity: 0;
  transition: all;
  transition-duration: 500ms;
}
.item-card:hover .card-item-content {
  @apply opacity-100 z-0 h-full top-0;
}
.card-item-title {
  @apply font-semibold;
}

.card-item-details {
  @apply font-normal z-20;
}

.product-footer {
  @apply absolute bottom-0 flex flex-col w-full;
}

.dynamic-product-container {
  @apply w-screen h-full px-14;
}

.product-mainbox {
  @apply grid grid-cols-1 grid-rows-2 lg:grid-rows-1 lg:grid-cols-2 gap-10 md:gap-2;
}
.product-price {
  @apply my-5 flex justify-start items-center gap-2 text-darkgreen-700 font-semibold;
}
.product-material {
  @apply flex flex-col items-start gap-3 justify-center mb-4;
}
.product-name {
  @apply font-semibold text-3xl text-gray-800;
}
.product-left {
  @apply mx-auto w-full h-full p-10;
}
.product-right {
  @apply flex justify-start relative;
}
.slider-image {
  @apply w-full h-full;
}

.slider-content {
  @apply absolute w-full px-2 bottom-4 flex items-center justify-between opacity-0 translate-y-6 transition-all duration-500 ease-in-out group-hover:opacity-100 hover:cursor-pointer
  group-hover:translate-y-0;
}

.product-right {
  @apply py-1 px-14 mt-8;
}

.products-container {
  @apply flex justify-center items-center lg:relative w-full;
  height: 100%;
}
.product-content {
  @apply mt-20 mx-5 row-start-2 col-span-2 flex justify-center items-center;
}
.circle {
  @apply flex justify-center items-center w-8 h-8 rounded-full  border-[1px] border-gray-600;
}
.circle:hover {
  @apply scale-[110%]
  shadow-lg
  transition-all
  duration-500  
  shadow-gray-400
  cursor-pointer;
}

.selected-color {
  @apply w-8 h-8
  shadow-md
  scale-[92%]
  transition-all
  duration-500  
  rounded-full
  cursor-pointer;
}

.arrow-left,
.arrow-right {
  @apply absolute  h-8 w-8 rounded-full bg-transparent text-darkgreen-100 border-none hover:h-16 hover:w-16 hover:bg-darkgreen-100 hover:text-darkgreen-900 transition-all duration-500 hover:cursor-pointer hover:rounded-full;
}
.addtocart-button {
  @apply h-40 w-40 rounded-full border-[1px] outline-double  border-green-800  font-bold text-lg text-darkgreen-800 transition-all duration-300 bg-lightgreen-400 mt-5 hover:bg-green-900 shadow-xl shadow-green-700/60 hover:text-white hover:scale-[98%];
}
